<!--数据备份--查看-->
<extend name="Base/index" />
<block name="content">

    <article class="page-container">

        <div class="panel panel-default">
            <div class="panel-header">基本</div>
            <div class="panel-body">
                <div class="row c1">
                    <div class="col-xs-6 col-sm-6 text-l">备份名称：{$data['database_name']}</div>
                    <div class="col-xs-6 col-sm-6 text-l">管理员：{$data['admin_name']}</if></div>

                    <div class="col-xs-6 col-sm-6 text-l">备份时间：<if condition="$data['add_time'] == 0"> -- <else /> {$data['add_time']|date='Y-m-d',###}</if></div>
                </div>
            </div><br/><br/>

        </div>

        <div class="panel panel-default mt-20">
            <div class="panel-header">扩展</div>
            <div class="panel-body">

                <div class="row c1" style="height:10px">
                    <div class="col-xs-12 col-sm-12 text-l">备注：
                        <textarea  cols="" rows="" class="textarea" onKeyUp="$.Huitextarealength(this,100)" style="height: 50px" readonly="true">{$data.remark}</textarea>
                    </div>
                </div>

            </div><br/><br/><br/>
        </div>

    </article>
</block>