<!--会员列表-->
<extend name="Base/index" />
<block name="content">

    <article class="page-container">

        <form class="form form-horizontal" id="form_photo" method='post' enctype="multipart/form-data">

            <div class="panel panel-default mt-20">
                <div class="panel-header">新增</div>
                <div class="panel-body">
                    
                    <input type="hidden" value="" id="image_url" name="image_url">

                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>图片：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input  name="image[]" class="form-control" type="file" accept="image/png,image/jpeg,image/gif">
                        </div>
                    </div>

                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>简述：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="text" class="input-text" value="" placeholder="" id="conent" name="content">
                        </div>
                    </div>

                    
                </div> <br/>
            </div><br/>

            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                    <button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 提交</button>
                </div>
            </div>
        </form>

    </article>


    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="__PUBLIC__/Admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
    <script type="text/javascript">

        
        $(function(){

            $("#form_photo").validate({
                onkeyup:false,
                focusCleanup:true,
                success:"valid",
                submitHandler:function(form){
                    var formData = new FormData($( "#form_photo" )[0]);

                    $.ajax({
                        url:"{:U('Photo/photo_add_validate')}",
                        type: "POST",
                        data: formData,
                        contentType: false,
                        processData: false,
                        success:function(res){
                            console.log(res);
                            if (res == 1) {alert("添加成功");parent.location.reload("{:U('Photo/photo_list')}"); }
                            else if (res == 2) {alert("添加失败");}

                            else if (res == 11) {alert("图片为空");}

                            else if (res == 12) {alert("简述为空");}

                        },
                        error:function(res){
                            alert("提交失败");
                        }
                    });
                }
            });
        });

    </script>

</block>