<!--二级菜单-->
<aside class="Hui-aside">
	<!--平台菜单-->
	<div class="menu_dropdown bk_2">
		<!--会员管理-->
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe62c;</i> 会员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:U('Admin/admin_list')}" data-title="管理员列表" href="javascript:void(0)" id="guanliyuan">管理员列表</a></li>  
				</ul>
			</dd>
		</dl>

		<!--栏目管理-->
		<dl id="menu-product">
			<dt><i class="Hui-iconfont">&#xe681;</i> 栏目管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:U('Cate/category_list')}" data-title="栏目列表" href="javascript:void(0)">栏目列表</a></li>
					<li><a data-href="{:U('Cate/category_add')}" data-title="栏目添加" href="javascript:void(0)">栏目添加</a></li>
				</ul>
			</dd>
		</dl>

		<!--文章管理-->
		<dl id="menu-product">
			<dt><i class="Hui-iconfont">&#xe616;</i> 内容管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:U('Carousel/carousel_list')}" data-title="轮播图" href="javascript:void(0)">轮播图</a></li>
					<li><a data-href="{:U('Article/index')}" data-title="文章列表" href="javascript:void(0)">文章列表</a></li>
					<li><a data-href="{:U('Photo/photo_list')}" data-title="图片列表" href="javascript:void(0)">图片列表</a></li>
				</ul>
			</dd>
		</dl>

		<!--系统管理-->
		<dl id="menu-product">
			<dt><i class="Hui-iconfont">&#xe692;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:U('Comment/comment_list')}" data-title="系统管理" href="javascript:void(0)">留言列表</a></li>
					<li><a data-href="{:U('Link/link_list')}" data-title="系统管理" href="javascript:void(0)">友情链接</a></li>
					<li><a data-href="{:U('Database/database_list')}" data-title="系统管理" href="javascript:void(0)">数据列表</a></li>
				</ul>
			</dd>
		</dl>

	</div>





</aside>


<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>

<script type="text/javascript">



</script>