<!--会员列表-->
<extend name="Base/index" />
<block name="content">

    <!--导航标题-->
    <include file="Base/_title" title1="商城" title2="文章管理" title3="文章列表"/>

    <!--内容-->
    <div class="page-container">
        
        <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l">
            <a href="javascript:;" onclick="add(0)" class="btn btn-danger radius">新增文章</a>
        </div>

        <div class="mt-20">
            <table class="table table-border table-bordered table-hover table-bg table-sort" style="l">
                <thead>
                <tr class="text-c">
                    <th width="40">序号</th>          <!--1-->
                    <th width="40">所属栏目</th>       <!--2-->
                    <th width="80">标题</th>         <!--3-->
                    <th width="80">作者</th>          <!--4-->

                    <th width="80">简述</th>          <!--7-->
                    <th width="80">时间</th>          <!--6-->
                    <th width="80">操作</th>         <!--8-->
                </tr>
                </thead>

                <tbody>
                <volist name="list" id="vo" key="i">
                    <tr class="text-c">
                        <td>{$i}</td>
                        <td>{$vo.cate}</td>
                        <td>{$vo.title}</td>
                        <td>{$vo.author}</td>

                        <td>{$vo.desc}</td>
                        <td>{$vo.time|date='Y-m-d',###}</td>
                        <td class="td-manage">
                            <a title="查看" href="javascript:;" onclick="article_show({$vo.id})" class="ml-5" style="text-decoration:none">查看</a>
                            <a title="编辑" href="javascript:;" onclick="article_edit({$vo.id})" class="ml-5" style="text-decoration:none">编辑</a>
                            <a title="删除" href="javascript:;" onclick="article_unshelve(this,{$vo.id})" class="ml-5" style="text-decoration:none">删除</a>

                        </td>

                    </tr>
                </volist>
                </tbody>
            </table>
        </div>
    </div>


    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="__PUBLIC__/Admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>

    <script type="text/javascript">

        /*table*/
        $(function(){
            $('.table-sort').dataTable({
                "aaSorting": [[ 0, "asc" ]],//默认第几个排序
                "bStateSave": true,//状态保存
                "aoColumnDefs": [
                    //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                    // {"orderable":false,"aTargets":[7]}// 制定列不参与排序
                ]
            });
        });


        /*新增*/
        function add(id){
            var url = "{:U('Article/article_add')}?id="+id;
            layer_show("文章",url);
        }

        /*文章-查看*/
        function article_show(id){
            var url = "{:U('Article/article_info')}?id="+id;
            var index = layer.open({
                type: 2,
                title: "广告位置编辑",
                content: url
            });
            layer.full(index);
        }
        /*文章-下架*/
        function article_unshelve(obj,id){
            layer.confirm('确认要删除吗？',function(index){
                $.ajax({
                    url:"{:U('Article/article_unshelve_validate')}",
                    type: 'POST',
                    dataType: 'json',
                    data: {id:id},

                    success: function(res){

                        if (res == 1) {$(obj).parents("tr").remove(); layer.msg('删除成功!');}
                        else if (res == 2) {layer.msg('删除失败!');}
                        else if (res == 3) {layer.msg('文章不存在!');}

                    },
                    error:function(res) {

                        layer.msg('提交失败!');
                    },
                });
            });
        }

        /*分类-编辑*/
        function article_edit(id){
            var url = "{:U('Article/article_edit')}?id="+id;
            var index = layer.open({
                type: 2,
                title: "编辑文章",
                content: url,
                end: function(index, layero){window.location.reload();},    //退出刷新
            });
            layer.full(index);
        }

    </script>

</block>

